asyncpg==0.31.0
boto3==1.43.29
botocore==1.43.29

greenlet==3.5.1

pgvector==0.4.2
psycopg==3.3.4

pydantic==2.13.4
pydantic-core==2.46.4
pydantic-settings==2.14.1

pymupdf==1.27.2.3

python-dotenv==1.2.2

rapidfuzz==3.14.5

sqlalchemy==2.0.50

typing-extensions==4.15.0
typing-inspection==0.4.2
annotated-types==0.7.0